.plx-image1 {
    background-image: url(../../assets/images/pagoda2.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -170px;
}

.text1 {
    margin-right: auto;
    padding-top: 20%;
    text-align: center;
    width: 40%;
    border-left: 8px solid RGB(175, 66, 31);
}

.text1 h1 {
    background-color: rgba(0, 0, 0, .75);
    color: RGB(218, 240, 255);
    font-size: 2.5em;
    padding: 5%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 18px 50px -10px;
}

.content {
    height: auto;
    color: var(--heading-color);
    max-width: 100%;
    background-color: var(--bg-red);
    text-align: center;
    border: 1px solid grey;
}

.content h2 {
    padding-top: 1em;
    padding-bottom: .15em;
    font-size: 2em;
    width: 30%;
    margin: auto;
 

}

hr {
    border-bottom: 3px solid RGB(175, 66, 31);
    margin: auto;
    width: 30%;
}

.text2,
.text3 {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.5;
    letter-spacing: .1em;

}

.plx-image2 {
    background-image: url(../../assets/images/trek.jpg);
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.text3 {
    display: flex;
    max-width: 100%;
    justify-content: center;
    font-size: 1em;
    
}

.testimonial {
    background-color: rgba(226, 224, 231, .5);
    width: 25%;
    margin: 1em;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 100px -20px, rgba(175, 66, 31, 0.3) 0px 30px 60px -30px, rgba(175, 66, 31, 0.35) 0px -2px 6px 0px inset;

}

.testimonial img {
    height: 167px;
    width: 167px;
    border-radius: 50%;
    border: 3px solid rgba(1,54,69, .75);
}

.testimonial h3 {
    padding-bottom: 1em;
}

.plx-image3 {
    background-image: url(../../assets/images/teamwork.jpg);
    width: 100%;
    height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-footer {
    height: auto;
    color: var(--heading-color);
    max-width: 100%;
    background-color: var(--bg-red);
    text-align: center;
    border: 1px solid grey;
    padding: 3em;
}

.content-footer h2 {
    padding-bottom: .5em;
}

.content-footer h4 {
    padding-top: 1em;
}
