.plx-image1 {
    background-image: url(../../assets/images/pagoda2.jpg);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -170px;
}

.text1 {
    margin-right: auto;
    padding-top: 20%;
    text-align: center;
    width: 40%;
    border-left: 8px solid RGB(175,66,31);
}

.text1 h1 {
   background-color: rgba(0, 0, 0, .75); 
   color: RGB(218,240,255);
   font-size: 2.5em;
   padding: 5%;
   width: 100%;
}

.content {
    height: auto;
    color: black;
    max-width: 100%; 
    background-color: RGB(201,162,162);
    text-align: center;
    border: 1px solid grey;
}

.content h2 {
    padding-top: 1em;
    padding-bottom: .3em;
    font-size: 2em;
    width:40%;
    margin: auto;
    border-bottom:  3px solid RGB(175,66,31)
}


.text2, .text3 {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    padding: 2em;
    line-height: 1.5;
    letter-spacing: .1em;

}

.plx-image2 {
    background-image: url(../../assets/images/trek.jpg);
    width: 100%;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.text3 {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.testimonial {
    background-color: rgba(0, 0, 0, .75); 
    width: 25%;
    margin: 1em;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    
}

.testimonial img {
    height: 167px;
    width: 167px;
    border-radius: 50%;
}
